@import 'open-props/style';
@import 'open-props/normalize/light';

:root {
  --background: var(--brown-0);
  --red: var(--red-8);
  --white: #ffffff;
  --blue: var(--indigo-9);
  --black: var(--stone-11);

  --measure: 60ch; /* for max-inline-sizes */
  --max-content-width: 1400px;
  --border: 3px;
  --space-sm: var(--size-fluid-2);
  --space-md: var(--size-fluid-4);
  --space-lg: var(--size-fluid-8);
}

@media (min-width: 654px) {
  :root {
    --space-sm: 1.75rem;
    --space-md: 3.25rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--background);
  color: var(--red);
  /* font-size: 1.125rem; */
  font-size: clamp(1.125rem, 0.148rem + 2.389vw, 1.5rem);
  font-family: 'Roboto Condensed Variable', sans-serif;
}

main {
  line-height: 1.5;
  overflow-x: hidden;
}

img,
iframe {
  /* display: block;
  width: 100%;
  height: auto; */
  max-inline-size: 100%;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Fonts */
.heading-text,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: var(--font-weight-7);
}

h2 {
  font-size: 3.375rem;
  line-height: 1;
}

.body-text {
  font-family: 'Roboto Condensed Variable', sans-serif;
  font-size: clamp(1rem, 1.026rem + 0.25vw, 1.45rem);
  line-height: 1.5em;
}

.cursive {
  font-family: 'Permanent Marker', cursive;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

/* Utility Classes */
.break {
  display: inline-block;
}

.padded-all {
  padding: var(--space-sm);
}

.padded-block {
  padding-block: var(--space-sm);
}

.padded-inline {
  padding-inline: var(--space-sm);
}

.uppercase {
  text-transform: uppercase;
}

.underline, a.underline, a:link.underline, a:visited.underline {
  text-decoration: underline;
}

.box-white {
  background-color: var(--white);
}

.bottom-border {
  border-bottom: 3px solid var(--red);
}

.drop-border {
  border: 3px solid var(--red);
  border-bottom: 10px solid var(--red);
}

.drop-border--white {
  border: 3px solid var(--white);
  border-bottom: 10px solid var(--white);
}

/* Global Animations/Effects */
.drop-on-click {
  border-top: 3px solid var(--red);
  border-bottom: 10px solid var(--red);
  transition: border-top 100ms ease-in, border-bottom 100ms ease-in;
}

.drop-on-click:active {
  border-top: 10px solid var(--red);
  border-bottom: 3px solid var(--red);
}

/* Global Components */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: calc(var(--font-size-4) - 0.15em);
  text-wrap: nowrap;

  padding-block: var(--size-2);
  padding-inline: var(--size-9);
}

.btn--solid {
  padding-block: calc(var(--size-2) + var(--border));
}

.icon--red {
  background-color: var(--brown-0);
}

/* Layout */
h1 {
  position: absolute;
  left: -100%;
}

main {
  display: grid;
}

/* Tablet */
@media (min-width: 654px) {
  /* Inline primary navigation */
  .btn__hamburger {
    display: none; /* hide hamburger btn */
  }

  /* Prevent Home page's hero text from wrapping */
  .hero h2 {
    white-space: nowrap;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large desktop */
@media (min-width: 1440px) {
}
