:root {
  --background: #fefaee;
  --primary: #da2525; 
  --secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

main {
  line-height: 1.5;
}

img, iframe {
  display: block;
  width: 100%;
  height: auto;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Fonts */
.body-text {
  font-family: 'Roboto Condensed', sans-serif;
}

.cursive {
  font-family: 'Permanent Marker', cursive;
}

/* Utility Classes */
.uppercase {
  text-transform: uppercase;
}

.box-white {
  background-color: var(--secondary);
}

.bottom-border {
  border-bottom: 3px solid var(--primary);
}

.drop-border {
  border: 3px solid var(--primary);
  border-bottom: 10px solid var(--primary);
}