---
import BaseLayout from '../layouts/BaseLayout.astro';
import siteData from '../data/siteData.json';

const pageData = siteData.seo.contact;
---
<style>
	.container, form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-block: var(--space-md);
		padding-inline: var(--space-sm);
	}

	h2 {
		font-size: clamp(4rem, 2.965rem + 4.419vw, 6.5rem);
	}

	form {
		padding-inline: 0;
		align-items: stretch;
		gap: var(--space-sm);
	}

	input, textarea {
		padding-block: calc(var(--space-sm) - 0.25em);
		padding-inline: var(--space-sm);
		background-color: var(--white);
		color: var(--red);

		border-radius: 0;
		border: 3px solid var(--red);
	}

	input::placeholder, textarea::placeholder {
		color: var(--red);
		opacity: 1;
	}

	textarea {
		height: 30ch;
	}

	.btn {
		background-color: var(--white);
		font-size: 1.5rem;
	}

	small {
		display: block;
		font-weight: var(--font-weight-3);
		text-align: center;
		max-inline-size: 50ch;
		font-size: clamp(.95rem, 0.148rem + 2.389vw, 1.15rem);
	}

	.bold {
		/* display: block; */
		font-weight: var(--font-weight-7);
	}

	@media (min-width: 654px) {
		form {
			max-width: 600px;
		}
		input, textarea {
			padding-block: .5em;
			padding-inline: .75em;
		}
		.btn {
			min-width: 20ch;
			margin-inline: auto;
		}
		.detail {
			font-size: 1.15rem;
		}
	}
</style>

<BaseLayout seo={pageData}>
	<div class="container">
		<h2 class="uppercase">Get in Touch</h2>

		<form name="contact" method="POST" data-netlify="true">
			<input type="hidden" name="subject" value="Submission from dainsplace.bar">
			<label for="name" hidden>Name</label>
			<input type="text" name="name" placeholder="NAME">
			<label for="email" hidden>Email</label>
			<input type="email" name="email" placeholder="EMAIL">
			<label for="message" hidden>Message</label>
			<textarea name="message" placeholder="MESSAGE"></textarea>
			<button type="submit" class="btn cursive drop-border drop-on-click">Send Message</button>
		</form>

		<small class="detail">If you've got a burgermergency, please give us a call directly at: <span class="bold">{siteData.phone}</span>.</small>
	</div>
</BaseLayout>