---
import BaseLayout from '../layouts/BaseLayout.astro';
import siteData from '../data/siteData.json';

const pageData = siteData.seo.faqs;
const jurgensStreak = new Date().getFullYear() - 2007;
---
<style>
	.container {
		display: flex;
		flex-direction: column;

		padding-block: var(--space-md);
		padding-inline: var(--space-sm);
		justify-content: center;
		text-align: center;
		gap: var(--space-md);

		max-width: 800px;
		margin-inline: auto;
	}

	h2 {
		max-inline-size: none;
		font-size: clamp(4rem, 2.965rem + 4.419vw, 6.5rem);
	}

	.hover-cursor {
		cursor: pointer;
		font-weight: bold;
		font-style: italic;
	}
	
	details {
		background-color: var(--white);
		border: 3px solid var(--red);
		border-radius: 0;

		padding-block: calc(var(--space-sm) - 0.25em);
		padding-inline: var(--space-sm);
		padding: .5em .75em;

		text-align: start;

		margin-block-end: 1em;
	}

	details p {
		height: 0px;
		transition: height 300ms ease;
		overflow: clip;
	}

	details[open] p {
		height: max-content;
	}

	summary {
		display: list-item;
		list-style-type: none;
		background-color: var(--white);
		display: flex;
		justify-content: space-between;
		gap: var(--size-fluid-3);

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			content: "+";
			margin-inline-start: auto;
		}
		[open] &::after {
			content: "-";
		}
	}

	.spacer {
		height: var(--space-sm);
	}

	.link {
		text-decoration: underline;
	}

	.link:hover {
		font-weight: var(--font-weight-7);
	}

	.icon__external-link {
		fill: var(--red);
		width: .75em;
		display: inline-block;
	}

	@media (min-width: 1000px) {
		.container {
			margin-block-end: var(--space-md);
		}
	}
</style>

<BaseLayout seo={pageData}>
  <div class="container">
		<h2>FAQs</h2>
			<div class="accordion">
				<details>
					<summary>Do you take reservations?</summary><div class="spacer"></div>
					<p>Dain's Place is first come, first serve, and have a seat wherever you like. If you'd like to sit on the patio we'd love if you could pop in real quick to let us know, so we can make sure you're taken care of promptly.</p>
				</details>
				<details>
					<summary>Are y'all family-friendly?</summary><div class="spacer"></div>
					<p>Dain's welcomes folks of all ages while the kitchen's open. We've got a high chair, booster seat, and keep a bucket of chalk handy for sidewalk art on the patio. *After the kitchen closes at {siteData.hours.kitchen.close} the bar is 21+, per NC law.</p>
				</details>
				<details>
					<summary>Is the patio dog-friendly?</summary><div class="spacer"></div>
					<p>You bet! We love pups at Dain's and keep 3 bowls of fresh water out front for your four-legged friends. We just ask that you keep your pup on a leash, and of course only service animals are permitted inside.</p>
				</details>
				<details>
					<summary>Do you have a kids menu?</summary><div class="spacer"></div>
					<p>In the spirit of keeping things simple we don't have a separate kids menu, but we sure do have lots of kid-friendly options. Hot dogs, grilled cheeses, and nuggets o' chicken are especially popular. Ooh and Oreos & milk. Can't forget the Oreos & milk.</p>
				</details>
				<details>
					<summary>Will the game be on?</summary><div class="spacer"></div>
					<p>Dain's Place has 4 artfully placed HD bigscreen TVs and our staff will gladly accomodate game requests. Bonus points if you know what network you're looking for. *We're a Philly bar with a side of Purdue pride, so when the Birds or Boilermakers are playing they get top billing. Speaking of college ball, we're a hoppin' spot for Duke games, being down the road from campus and all (lighter shades of blue are welcome). Come cheer with us!</p>
				</details>
				<details>
					<summary>Do you have WiFi?</summary><div class="spacer"></div>
					<p>Sure do. The password is our phone number, no dots or dashes, which can be found on the food menu and is posted on the walls.</p>
				</details>
				<details>
					<summary>Any non-alcoholic beverage options, other than sodas and such?</summary><div class="spacer"></div>
					<p>We've got lots! Our drinks menu offers a growing array of delicious N/A selections, from ciders to beers in a variety of styles to spritzes.</p>
				</details>
				<details>
					<summary>What's the story with your burger patties?</summary><div class="spacer"></div>
					<p>Our patties are made with 1/2 lb of fresh, <em>never-frozen</em>, 100% Black Angus beef, cooked to order. No frozen pucks for the fine people of Durham!</p>
				</details>
				<details>
					<summary>Is the hotdog all beef?</summary><div class="spacer"></div>
					<p>Yes indeed. We use the finest kosher, all-beef hot dogs. Seriously. They're really, really good hot dogs.</p>
				</details>
				<details>
					<summary>What if I'm a vegetarian?</summary><div class="spacer"></div>
					<p>Herbivores rejoice! Our menu features all kinds of vegetarian options. From Impossible burgers to house-made mozzarella triangles to grilled cheeses to perogies, we've got you covered. (The salad is kind of a banger too, TBH.)</p>
				</details>
				<details>
					<summary>What if I have a food allergy?</summary><div class="spacer"></div>
					<p>We do our best to accomodate all modification requests, but please note that trace cross-contamination from things like gluten and dairy is unavoidable because we don't have the space to maintain a completely separate cook area. Please bear this in mind if your allergy is severe. Our fryer uses soybean oil, and our kaiser buns are not baked with dairy.</p>
				</details>
				<details>
					<summary>Say more about the fryer oil...</summary><div class="spacer"></div>
					<p>We use 100% soybean oil. No peanuts to be found. What's even cooler - one of our <span class="hover-cursor" title="Regulars for all of our first 10 years, and then some. Comes with special perks!">Customers of the Decade&trade;</span> has been picking up and recycling our fryer oil into bio-diesel for his old school BMW for {jurgensStreak} years running! Shout out to Jurgen for wasting not.</p>
				</details>
				<details>
					<summary>Do you have gluten free buns?</summary><div class="spacer"></div>
					<p>We don't carry gluten free buns at this time, but we're happy to serve any sandwich bunless. It'll even come out on a fancy plate!</p>
				</details>
				<details>
					<summary>Were y'all really on Man v. Food???</summary><div class="spacer"></div>
					<p>Oh yeah. Richman enjoyed our Defibrillator burger, which is topped with bacon, sweet beef chili, cheddar cheese, coleslaw, and yes, you're reading this right - a hotdog. Named one of <a class="link" href="https://www.mashed.com/1238720/the-best-burgers-ever-seen-on-man-v-food/" target="_blank">"The Best Burgers Ever Seen on Man V. Food" <svg class="icon icon__external-link" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg></a> by Mashed, the Defibrillator ain't for the faint of heart, but boy is it delicious.</p>
				</details>
				<details>
					<summary>Can I have a private party at Dain's Place?</summary><div class="spacer"></div>
					<p>If you're interested in reserving part or all of the bar for a special event, please reach out via our <a class="link" href="/contact/">contact form</a>.</p>
				</details>
			</div>
	</div>
</BaseLayout>