---
import BaseLayout from '../layouts/BaseLayout.astro';
import ScrollingBanner from '../components/Banner.astro';

import { Image } from 'astro:assets';
import dainsFullLogo from '../assets/logo-sm.png';
import foodFeature from '../assets/mozzarella-triangles-800.jpeg';

const pageTitle = 'Home';
---
<style>
	section {
		color: var(--white);
	}

	/* Hero */
	.hero {
		background-image: linear-gradient(rgba(94, 45, 45, 0.16), rgba(94, 45, 45, 0.16)), url('../assets/burger-with-loaded-fries.jpg');
		background-size: cover;
		color: var(--white);

		text-align: center;

		display: grid;
		align-items: center;
		grid-template-columns: 1fr;
		gap: 2.5rem;

		padding: 2em 1em;
	}

	.hero * {
		text-shadow: var(--shadow-1);
	}

	.hero > * {
		line-height: .95;
	}

	.hero h2 {
		font-size: 8rem;
	}

	address {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;
	}

	.address-line, .tel {
		font-family: 'Barlow Semi Condensed', sans-serif;
		font-style: normal;
		font-size: var(--font-size-8);
		font-weight: var(--font-weight-7);

		display: block;
	}

	.tel {
		font-size: var(--font-size-7);
	}

	.cta {
		color: var(--red);
	}

	/* Hours Button */
	.buttons-collage {
		background-image: url('../assets/buttons-close.jpg');
		background-size: cover;
		color: var(--white);

		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;

		perspective: 1000px;
	}

	.hours-button {
		width: 65vw;
		height: 65vw;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
		
		text-align: center;

		border-radius: 50%;
		background-color: var(--red);
		box-shadow: 3px 6px 8px 3px rgba(0,0,0,0.65), inset 3px 2px 4px rgba(255,251,237,0.57), inset -3px -5px 8px rgba(0, 0, 0, 0.4), inset 1px 2px 2px rgba(255,238,213,0.25);
		transform: rotate3d(-2, -2, 1, -15deg);
	}

	.hours-button * {
		line-height: .9;
	}

	.hours-button h3 {
		font-size: var(--font-size-4);
	}

	.hours, .days {
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: var(--font-weight-7);
	}

	.hours {
		font-size: var(--font-size-7);
	}

	.days {
		font-size: var(--font-size-5)
	}

	.hours-button small {
		margin-top: 0.25em;
		font-size: .95rem;
	}

	/* About */
	.about {
		background-color: var(--red);
	}

	.about .drop-border {
		height: 90vh;
		padding-inline: 1em;

		text-align: center;
		border-color: var(--white);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.detail-logo {
		border: 3px solid var(--white);
		width: 80px;
	}

	.about h3 {
		font-size: var(--font-size-4);
		transform: rotate(-4deg);
	}

	.about .body-text {
		max-inline-size: 95%;
		font-weight: var(--font-weight-3);
	}

	.cta--about {
		background-color: var(--white);
		color: var(--red);

		display: block;
		padding-block: .5em;
		width: 90%;

		font-size: calc(var(--font-size-4) - .15em);
	}

	/* Food Image Highlight */
	.food-bg {
		/* background-image: url('../assets/mozzarella-triangles-800.jpeg');
		background-size: cover;
		background-position: center;
		height: 70vh; */
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	
	.food-feature-img, .twinkle-sm, .twinkle-lg {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.twinkle-sm {
		align-self: end;
		margin-left: 30%;
		margin-bottom: 40%;
	}

	.twinkle-lg {
		align-self: end;
		margin-left: 15%;
		margin-bottom: 25%;
	}

</style>

<BaseLayout pageTitle={pageTitle} isHome={true}>
	<section class="bottom-border inset">
		<div class="hero">
			<h2 class="uppercase">Dain's Place</h2>
			<address>
				<span class="address-line">754 Ninth St</span>
				<span class="address-line">Durham, NC</span>
			</address>
			<span class="tel">919-416-8800</span>
		</div>

		<div class="drop-border">
			<a class="uppercase cursive cta" href="/menu/">See our menu</a>
		</div>
	</section>

	<section class="inset">
		<div class="buttons-collage">
			<div class="hours-button uppercase">
					<h3 class="cursive">We're open</h3>
					<div class="no-gap">
						<p class="hours">11am - 12am</p>
						<p class="days">Mon - Sun</p>
					</div>
					<small class="cursive">*Kitchen 'til 10pm</small>
			</div>
		</div>
	</section>

	<section class="about inset">
		<div class="drop-border">
			<Image class="detail-logo" src={dainsFullLogo} alt="Full detail Dain's Place logo in the style of stained glass with Old English lettering." />
			<h3 class="uppercase cursive">A Durham Institution</h3>

			<p class="body-text">Beloved by locals, students, Eagle's fans  and just about anybody with a penchant for potatoes, Dain's has been slinging juicy burgers and toasty tater tots since 2013. Come cozy up to the bar and make a new friend, or bring your own. Blah blah and more text here. Lorem ipsum flipsum bipsum and a sea shells by the sea shore. Rich white Reese Witherspoon - try saying that 5 times fast!</p>

			<a class="uppercase cursive cta--about" href="/about/">About the bar</a>
		</div>
	</section>

	<section>
		<div class="food-bg">
			<!-- TODO: Get better pic of mozz. -->
			 <Image class="food-feature-img" src={foodFeature} alt="A basket of crispy mozzarella triangles" />
			<svg class="twinkle-sm" width="44" height="59" viewBox="0 0 44 59" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M22 0L24.9868 25.4949L44 29.5L24.9868 33.5051L22 59L19.0132 33.5051L0 29.5L19.0132 25.4949L22 0Z" fill="#FEFCF9"/>
			</svg>
				
			<svg class="twinkle-lg" width="77" height="91" viewBox="0 0 77 91" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M38.5 0L43.7269 39.3227L77 45.5L43.7269 51.6773L38.5 91L33.2731 51.6773L0 45.5L33.2731 39.3227L38.5 0Z" fill="#FEFCF9"/>
			</svg>
		</div>
	</section>

	<ScrollingBanner />
</BaseLayout>
