---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import dainsFromStreet from '../assets/barfront.jpg';

const pageTitle = 'Location';
---
<style>
	iframe {
		aspect-ratio: 1 / 1;
	}

	img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<article>
		<h2>Come Get the Munchies!</h2>
		<p>Dain's Place is located in the heart of town, at:</p>
		<address>
			754 Ninth Street<br />
			Durham, NC 27705
		</address>
	</article>

	<div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3227.43892593686!2d-78.92450288875555!3d36.00957361175304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace3f8a2c30097%3A0xdcd53772bff6ccfa!2sDain&#39;s%20Place!5e0!3m2!1sen!2sus!4v1736456926115!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<aside>
		<p class="uppercase">Look for the big D!</p>
	</aside>

	<div>
		<Image src={dainsFromStreet} alt="Front view of Dain's Place, a black brick building with a red awning and sunny patio." />
	</div>

	<section>
		<h3>We're open:</h3>
		<p>Monday - Sunday</p>
		<p>11am - 12am</p>
		<p>*Kitchen 'til 10pm</p>
	</section>

</BaseLayout>