---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Menu';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Menus</h2>
	<div class="stack">
		<a class="uppercase cursive drop-border box-white" href="#">Food</a>
		<a class="uppercase cursive drop-border box-white" href="#">Drinks</a>
	</div>

	<div class="hours-details">
		<p>Our kitchen is open every day from 11am to 10pm</p>
		<p>*Bar open 'til midnight</p>
	</div>

	
</BaseLayout>