---
import Navigation from './NavSecondary.astro';
import { Image } from 'astro:assets';
import phoneIcon from '../assets/phone-icon.svg';
import instagramIcon from '../assets/instagram-logo.svg';
import facebookIcon from '../assets/facebook-logo.svg';

const { isHome } = Astro.props;
const currentYear = new Date().getFullYear();
---
<style>
  footer {
    background-color: var(--red);
    color: var(--white);

    margin: 0;
    padding-block: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2em;
  }

  .tel-cta-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .tel-cta {
    font-size: clamp(1.45rem, 0.942rem + 1.375vw, 2rem);
  }

  .tel-btn {
    outline: 3px solid var(--white);
    width: 70%;
    max-width: 250px;
    padding: .25em .5em;

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: clamp(1.25rem, 0.942rem + 1.165vw, 1.5rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tel-btn .icon {
    width: var(--size-fluid-3);
  }

  .social-media-container {
    display: flex;
    gap: 1rem;
  }

  .social-media-container .icon {
    width: var(--size-fluid-4);
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .copyright-container {
    text-align: center;
  }

  @media (min-width: 1400px) {
    footer {
      justify-items: center;
      padding-top: var(--size-fluid-5);
      padding-bottom: var(--size-fluid-4);
    }
    .tel-cta-container, .nav, .social-media-container, .copyright-container {
      width: 1400px;
      max-width: 1400px;
      padding-inline: var(--space-sm);
    }
  }
</style>

<footer class="padded-all">
  <div class="tel-cta-container">
    <p class="uppercase cursive tel-cta">Call to order carryout</p>
    <div class="outline tel-btn">
      <a href="tel:+9194168800">919-416-8800</a>
      <svg class="icon phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M152,48a78.61,78.61,0,0,1,56,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M144,80c16.52,4.42,27.58,15.48,32,32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M156.39,153.34a8,8,0,0,1,7.59-.69l47.16,21.13a8,8,0,0,1,4.8,8.3A48.33,48.33,0,0,1,168,224,136,136,0,0,1,32,88,48.33,48.33,0,0,1,73.92,40.06a8,8,0,0,1,8.3,4.8l21.13,47.2a8,8,0,0,1-.66,7.53L81.32,125a7.93,7.93,0,0,0-.54,7.81c8.27,16.93,25.77,34.22,42.75,42.41a7.92,7.92,0,0,0,7.83-.59Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
    </div>
  </div>

  <Navigation class="nav" variant={'secondary'} isHome={isHome} />

  <div class="social-media-container">
    <a href="https://www.instagram.com/dains_place/" target="_blank">
      <svg class="icon icon--white instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="128" r="40" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16"/><rect x="32" y="32" width="192" height="192" rx="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="180" cy="76" r="12" fill="currentColor"/></svg>
    </a>
    <a href="https://www.facebook.com/dainsplacedurham/" target="_blank">
      <svg class="icon icon-white facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M168,88H152a24,24,0,0,0-24,24V224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="96" y1="144" x2="160" y2="144" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
    </a>
  </div>

  <div class="copyright-container">
    <small class="uppercase">Copyright &copy; Dain's Place {currentYear}</small>
  </div>
</footer>