---
import Navigation from './Navigation.astro';

const currentYear = new Date().getFullYear();
---
<footer>

  <Navigation />

  <div>
    <p>social media icons here</p>
  </div>

  <div>
    <small class="uppercase">Copyright &copy; Dain's Place {currentYear}</small>
  </div>
</footer>