---
---
<style>
  button {
    background-color: var(--brown-0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<!-- TODO: Removed until script extracted per Astro reqs -->
<!--     aria-expanded={isOpen} -->
<!-- aria-label={isOpen ? 'Close menu' : 'Open menu'} -->
<button 
  class="btn__hamburger" 
  type="button" 
  aria-controls="primary-navigation">
  <svg 
    class="icon icon--red icon__hamburger" 
    width="40" height="36" 
    viewBox="0 0 40 36" 
    fill="none" 
    xmlns="http://www.w3.org/2000/svg">
    <path d="M5.71446 14.255H34.1995C34.6262 14.2571 35.048 14.1635 35.4337 13.9809C35.8195 13.7983 36.1593 13.5315 36.4281 13.2C36.6969 12.8686 36.8879 12.4811 36.987 12.066C37.0861 11.6509 37.0907 11.2188 37.0006 10.8017C35.6766 4.54378 28.51 0 19.957 0C11.404 0 4.23729 4.54378 2.91336 10.8017C2.8232 11.2188 2.82784 11.6509 2.92692 12.066C3.026 12.4811 3.21701 12.8686 3.48584 13.2C3.75468 13.5315 4.09449 13.7983 4.48021 13.9809C4.86593 14.1635 5.28772 14.2571 5.71446 14.255ZM19.957 2.851C27.0524 2.851 33.1802 6.52344 34.1995 11.404H5.71446L5.70199 11.3915C6.7337 6.52344 12.8616 2.851 19.957 2.851ZM38.0002 22.8935L30.6714 25.5663L24.0553 22.9095C23.7155 22.7737 23.3366 22.7737 22.9968 22.9095L16.4039 25.5485L9.8003 22.9095C9.4752 22.7797 9.11367 22.7739 8.78463 22.8935L0.944392 25.7445C0.613029 25.8904 0.349578 26.1568 0.207514 26.4898C0.0654504 26.8228 0.0554183 27.1974 0.179454 27.5376C0.30349 27.8777 0.552299 28.1579 0.875381 28.3213C1.19846 28.4847 1.57161 28.519 1.91908 28.4173L4.27649 27.5638V28.51C4.27649 30.4003 5.02742 32.2132 6.36409 33.5499C7.70075 34.8865 9.51366 35.6375 11.404 35.6375H28.51C30.4003 35.6375 32.2132 34.8865 33.5499 33.5499C34.8865 32.2132 35.6374 30.4003 35.6374 28.51V26.7869L38.9749 25.5734C39.162 25.5187 39.336 25.4261 39.4859 25.3014C39.6358 25.1767 39.7586 25.0226 39.8466 24.8486C39.9346 24.6746 39.9859 24.4844 39.9975 24.2898C40.009 24.0951 39.9805 23.9001 39.9137 23.717C39.8469 23.5338 39.7432 23.3662 39.6091 23.2247C39.475 23.0832 39.3132 22.9707 39.1339 22.8942C38.9545 22.8176 38.7614 22.7787 38.5664 22.7798C38.3714 22.781 38.1787 22.8221 38.0002 22.9006V22.8935ZM32.7865 28.51C32.7865 29.6442 32.3359 30.7319 31.5339 31.5339C30.7319 32.3359 29.6442 32.7865 28.51 32.7865H11.404C10.2698 32.7865 9.18204 32.3359 8.38005 31.5339C7.57805 30.7319 7.12749 29.6442 7.12749 28.51V26.5285L9.24257 25.7587L15.8587 28.4084C16.1984 28.5442 16.5774 28.5442 16.9171 28.4084L23.51 25.7694L30.103 28.4084C30.4281 28.5383 30.7896 28.544 31.1186 28.4244L32.7704 27.8239L32.7865 28.51ZM0 18.5315C0 18.1534 0.150186 17.7908 0.417519 17.5235C0.684851 17.2562 1.04743 17.106 1.4255 17.106H38.4884C38.8665 17.106 39.2291 17.2562 39.4964 17.5235C39.7638 17.7908 39.9139 18.1534 39.9139 18.5315C39.9139 18.9095 39.7638 19.2721 39.4964 19.5395C39.2291 19.8068 38.8665 19.957 38.4884 19.957H1.4255C1.04743 19.957 0.684851 19.8068 0.417519 19.5395C0.150186 19.2721 0 18.9095 0 18.5315Z" fill="#E03131"/>
  </svg>
</button>