---
const { showHomeLink } = Astro.props;
---
<nav aria-label={showHomeLink ? 'Primary' : 'Secondary'}>
  <ul>
    {showHomeLink && <li><a href="/">Home</a></li>}
    <li><a href="/about/">About</a></li>
    <li><a href="/location/">Location</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/menu/">Menu</a></li>
    <li><a href="/faqs/">FAQs</a></li>
  </ul>
</nav>