---
const { variant = 'primary', isHome } = Astro.props;
---
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  a:link, a:visited {
    display: inline-block;
    color: inherit;
  }

  a:hover {
    font-weight: var(--font-weight-6)
  }

  a {
    font-size: 1.15rem;
    font-weight: var(--font-weight-7);
  }
</style>

<!-- conditionally set nav--primary for Header or nav--secondary for Footer -->
<nav class={`nav nav--${variant}`} aria-label={variant === 'primary' ? 'Primary' : 'Secondary'}>
  <ul>
    {variant === 'secondary' && !isHome && <li><a href="/">Home</a></li>}
    <li><a href="/about/">About Us</a></li>
    <li><a href="/location/">Hours & Location</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/menu/">Menu</a></li>
    <!-- include FAQs link for secondary nav only -->
    {variant === 'secondary' && <li><a href="/faqs/">FAQs</a></li>}
  </ul>
</nav>