---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

// fonts
import '@fontsource/barlow-condensed';
import '@fontsource/barlow-condensed/500.css';
import '@fontsource/barlow-condensed/600.css';
import '@fontsource/barlow-condensed/700.css';
import '@fontsource/barlow-condensed/800.css';
import '@fontsource/barlow-condensed/900.css';
import '@fontsource/barlow-semi-condensed';
import '@fontsource/barlow-semi-condensed/500.css';
import '@fontsource/barlow-semi-condensed/600.css';
import '@fontsource/barlow-semi-condensed/700.css';
import '@fontsource/barlow-semi-condensed/800.css';
import '@fontsource/barlow-semi-condensed/900.css';
import '@fontsource/permanent-marker';
import '@fontsource-variable/roboto-condensed'; // supports weights 100-900

// const { pageTitle, description = '', isHome = false } = Astro.props;
const { seo, isHome = false } = Astro.props;
---

<html lang="en">
	<head>
		<Head seo={seo} />
	</head>

	<body>
		<Header />

		<main>
			<h1>{seo.title}</h1>
      <slot />
    </main>

		<Footer isHome={isHome} /> <!-- Only display Home link if curr page is not Home -->

		<script>
			import '../scripts/mobileMenu.js';
		</script>
	</body>
</html>